<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteBase /~cs4970f14grp1/cakephp
   RewriteBase /GitHub/public_html/cakephp
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>