<IfModule mod_rewrite.c>
    RewriteEngine on
	#RewriteBase /~cs4970f14grp1/cakephp
	RewriteBase /GitHub/public_html/cakephp
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>